doctype html
html
    head
    meta(charset="utf-8")
    title 互怼学院，web版。
    link(rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon")
    script
        include ../../js/inline.js

    body
      div#app
        router-view

